*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: rgb(207, 167, 44)
}

.main{
    background: linear-gradient(rgb(1, 1, 97),rgb(36, 32, 25),rgb(17, 49, 17));
}
.question{
    text-align: center;
    color: honeydew;
    


}
.qsec{
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid wheat;
    background: linear-gradient(rgb(9, 9, 12),rgb(33, 41, 68),rgb(10, 37, 10));
}
button{
    color: rgb(184, 218, 186);
    background-color: rgb(231, 12, 12);
    border-radius: 9px;
    width: 200px;
    padding: 20px 20px;
    font-size: 30px;
}
.option{
    font-size: 30px;
}


#result{
    margin: 0 auto;
    border: 3px solid black;
   width: 500px;
   height: 100px;
    background:linear-gradient(rgb(90, 90, 155),rgb(19, 22, 5),rgb(10, 37, 10)); ;
}
#final{
    line-height: 50px;
    width: 400px;
    height: 50px;
    display: inline-block;
    border: 2px dashed brown;
    font-size: 23px;
    color: rgb(238, 247, 229);
    background:linear-gradient(rgb(102, 235, 120),rgb(248, 115, 82),rgb(10, 37, 10)); ;
}